body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 500px;
    margin-top: 150px;
    background-color: #072F8D;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 15px solid rgb(30, 30 ,30);
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(80,80,80);
}

.screen {
    width: 370px;
    height: 80px;
    margin-top: 10px;
    background-color: rgb(30,30,30);
    color: aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    box-shadow: 4px 4px 3px #071F57;
}

.row {
    width: 380px;
    height: 70px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.first, .second, .third, .fourth, .fifth {
    justify-content: space-evenly;
}

button {
    width: 60px;
    height: 60px;
    font-size: 35px;
    background-color: rgb(30,30,30);
    color: aliceblue;
    border-radius: 10px;
    border: 3px solid rgb(30, 30 ,30);
    box-shadow: 4px 4px 3px #071F57;
}

.number:active {
    background-color: #FF9E1E;
    transition: 0s;
}

.equals:active {
    background-color: #006633;
    transition: 0s;
}

.clear:active {
    background-color: #CC0000;
    transition: 0s;
}

.operator:focus {
    background-color: #99CCFF;
    transition: 0s;
}

.spacer {
    width: 60px;
    height: 60px;
}


@media screen and (max-width: 500px) {
    .container {
        width: 270px;
    }

    .screen {
        width: 250px;
    }

    .row {
        width: 260px;
    }

    button {
        width: 50px;
        height: 50px;
    }
}